## Caso bugue o ID, mude o DB_CLOSE_DELAY para 0
## Não esqueca, de colocar as credenciais corretas no intellij tbm
## Cole no .env na raiz do projeto

DATABASE_URL=jdbc:h2:mem:testdb;DB_CLOSE_ON_EXIT=FALSE;DB_CLOSE_DELAY=0
DATABASE_USERNAME=cadastro_ex
DATABASE_PASSWORD=cadastro_ex

## Se usar PostgreSQL
DATABASE_URL=jdbc:postgresql://localhost:5432/nome-do-seu-banco
DATABASE_USERNAME=cadastro_ex_postgres
DATABASE_PASSWORD=cadastro_ex_postgres


GOOGLE_API_KEY=sua_key_do_gemini